
@model IEnumerable<AppointmentManagerCapstone.Models.ViewModels.CustomerTypeGroup>

@{
    ViewData["Title"] = "Number of Customers by Type";
}


<h2>Number of Customers by Customer Type</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Customer Type
            </th>
            <th scope="col">
                Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerType)
                </td>
                <td>
                    @item.CustomerTypeCount
                </td>
            </tr>
        }
    </tbody>
</table>