@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Lone Star Appointment Tracker</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Lone Star Appointment Tracker is an
            appointment managing application for
            Lone Star IT Consulting, a fictional 
            IT consulting company.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Manage customers by adding, editing, and deleting customers in the Customers screen.</p>
        <p>Use the Reports > Customer Views to get different views of customer data.</p>
        <p class="small font-italic" >You must be logged in to access Customers and Reports.</p>

    </div>
    <div class="col-md-4">
        <h2>Appointments</h2>
        <p>Create, edit, and delete appointments under Appointments.</p>
        <p>Business customer appointments and private customer appointments are managed separately.</p>
        <p>Use Report > Appointment Views to get different views of all appointment data.</p>
        <p class="small font-italic">You must be logged in to access Appointments and Reports.</p>
    </div>
</div>